/* Fonts */


/* Landing Page */
.titleBox{
    display: flex;
    justify-content: center;
    background-color: grey;
    width: 100vw;
    padding-bottom: 5px;


}
body{
    background-color: grey;
}
.titleBox{
    display: flex;
    background-image: url("Images/atlanta2.gif");
    background-size: cover;
    background-repeat: no-repeat;
    height: 60vh;
    width: 80vw;
    margin-left: 125px;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 70px;
    color: white; 
}
.blackJack{
    display: flex;
    font-style: italic;
    font-size: 120px;
}

.landingTitle{
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 30vh; 
    padding: 0%;
    margin-top: 20vh;
    border: solid black
}

.themeSelector{
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    flex-direction: row;
    margin-top: 0px;
    width: 100vw;
    height: 40vh;
    background-color: grey;
    
}
.theme1{
    display: flex;
    background-image: url("Images/falcons45.gif");
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vh;
    width: 22vw;
    border-radius: 10px;
    margin-right: 5px;
    border: solid white;
}
.theme2{
    display: flex; 
    background-image: url("Images/braves.gif");
    background-size: cover;
    background-repeat: no-repeat;
    /* margin-left: 10px; */
    height: 30vh;
    width: 25vw;
    border-radius: 10px;
    border: solid white;
}
.theme3{
    display: flex;
    background-image: url("Images/united.gif");
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vh;
    width: 25vw;
    border-radius: 10px;
    border: solid white;


}
.theme4{
    display: flex;
    background-image: url("Images/hawks.gif");
    background-size: cover;
    background-repeat: no-repeat;
    height: 30vh;
    width: 22vw;
    border-radius: 10px;
    border: solid white;


}

/* Action Buttons For Playing on Pages*/

.actionButtons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 70vw;
}

#deal{
    display: flex;
    position: relative;
    justify-content: center;
    font-size: 20px;
    height: 5vh;
    width: 10vw;
}
#hit{
    display: flex;
    justify-content: center;
    font-size: 20px;
    height: 5vh;
    width: 10vw;
}
#stand{
    display: flex;
    justify-content: center;
    font-size: 20px;
    height: 5vh;
    width: 10vw;
}

/* Card Tables */

.cardTableFalcons{
    display: flex;
    justify-content: center;
    /* background-image: url("Images/falconsLogo.jpeg"); */
    background-size: cover;
    background-repeat: no-repeat;
    border: solid black;
    padding-right: 90px;
    height: 80vh;
    width: 70vw;
    margin-left: 180px;
    border-radius: 30%;
    position: static;
 

}
.cardTableBraves{
    display: flex;
    justify-content: center;
    background-image: url("Images/bravesLogo.png");
    background-size: cover;
    background-repeat: no-repeat;
    border: solid black;
    padding-right: 90px;
    height: 80vh;
    width: 70vw;
    margin-left: 180px;
    border-radius: 30%;

}
.cardTableUnited{
    display: flex;
    justify-content: center;
    background-image: url("Images/unitedLogo.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding-right: 90px;
    border: solid black;
    height: 80vh;
    width: 70vw;
    margin-left: 180px;
    border-radius: 30%;

}

.cardTableHawks{
    display: flex;
    justify-content: center;
    background-image: url("Images/hawksLogo.png");
    background-size: cover;
    background-repeat: no-repeat;
    border: solid black;
    padding-right: 90px;
    height: 80vh;
    width: 70vw;
    margin-left: 180px;
    border-radius: 30%;
}

.dealer{
    display: flex;
    border: solid white;
    color: white;
    position: absolute;
    padding: 30px; 
    height: 10vh;
    margin-left: -250px;
    margin-top: 100px;
    width: 10vw;
    


}
.player{

    display: flex;
    border: solid white;
    color: white;
    position: relative;
    padding: 30px; 
    height: 10vh;
    margin-left: 600px;
    margin-top: 400px;
    width: 10vw;
    

}

